.orange{
    background-color: orange;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
.purple{
    background-color: purple;
    color: white;
}